body{
    background-color: rgb(6, 83, 83);
}
.card-wrapper{
    width: 30%;
    background-color: #fff;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}
.card-wrapper .card-image img{
    width: 100%;
}
.card-wrapper .card-title .title{
    color: rgb(201, 97, 110);
}
.card-wrapper .card-content {
    color: #555 ;
}
.card-wrapper .card-link .link{
text-decoration: none;
color: rgb(169, 21, 174);
}